#root {
  width: 100vw;
  margin: 0;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Event */

.events-box {
  width: 700px;
  height: 200px;
  background: #76afb8;
  border-radius: 50px;
}

.events-box-title {
  font-family: "RidayParcia", "Quicksand", sans-serif;
  font-size: 36px;
}
