@font-face {
  font-family: "Digital";
  src: url("ImagesAndFonts/wwDigital.woff") format("opentype");
}

root {
  width: 100vw;
  margin: 0;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Event */

.event-box {
  width: 350px;
  height: 80px;
  background: #026670;
  border-radius: 50px;
  color: #fff;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}

.event-box > * {
  margin: 0;
}

.event-box-title {
  font-family: "Allison", "Quicksand", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
}

.event-box-date {
  font-size: 10px;
  font-style: italic;
  color: #d6d6d6;
}

.event-box-timer {
  font-family: "Digital", sans-serif;
}
