/* Font Quicksand  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* Font RidayParcia  */
@font-face {
  font-family: "RidayParcia";
  src: url("ImagesAndFonts/Ridayparcia-JRgqn.oft") format("opentype");
}

:root {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  background: #edeae5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
/* Title section */
.title-box {
  background: fixed#9FeDD7;
  height: 400px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

h1 {
  color: #fff;
  display: inline;
}

.clock {
  width: 200px;
  height: 200px;
  background-color: #fce181;
}
/* Form section */
.event-form {
  margin: 20px 0;
}

.event-form-input {
  padding: 8px 8px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #fef9c7;
  background-color: #fef9c7;
  border-radius: 20px;
  font-family: inherit;
}

.event-form-input::placeholder {
  font-family: inherit;
}

.event-form-input:focus {
  outline: none;
  border: 1px solid #fce181;
  box-shadow: 0 0 6px #fce181;
}

.event-form-button {
}
/* Timer section */
