/* Font Quicksand  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* Font RidayParcia  */
@font-face {
  font-family: "RidayParcia";
  src: url("ImagesAndFonts/Ridayparcia-JRgqn.oft") format("opentype");
}

:root {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  background: #edeae5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.title-box {
  background: fixed#9FeDD7;
  height: 500px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

h1 {
  color: #fff;
  display: inline;
}

.clock {
  width: 200px;
  height: 200px;
}

.event-form {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.event-form > * {
  flex: 0 1 auto;
}

.event-form-input {
  padding: 8px 8px;
  text-align: center;
  border: none;
  background-color: #afcfab;
  border-radius: 20px;
  font-family: inherit;
}

.event-form-input::placeholder {
  font-family: inherit;
}

.event-form-input:focus {
  outline: none;
  border: 1px solid #d5d600;
  box-shadow: 0 0 6px #d5d600;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.event-form-button {
}
